:root {
	--row-grow: 0;
	--column-grow: initial;
}

.container > * {
	--column-grow: 0;
	--row-grow: initial;
}

.container ::slotted(*) {
	--column-grow: 0;
	--row-grow: initial;
}

.container {
	flex-direction: column;
}

.item > * {
	--height-grow: initial;
}

.item {
	--height-grow: 0;
	flex-grow: var(--column-grow, var(--width-grow, var(--flex-grow, 0)));
	flex-shrink: 0;
	flex-basis: auto !important;
	height: 50%;
}
